logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

target/
project/project/
project/target/
project/metals.sbt

.idea/
.bsp/
.vscode/
.metals/
.dotty-ide-artifact
.dotty-ide.json

forenotes.md
todo.md
cleaner.sh
commitmsg.md
worktrees/
