@(data: Vector[List[Any]], heading: List[String], newRedirectionTarget: String)

@main("Welcome to Play") {
<div class="container">
    <div class="column"></div>
    <div dir="rtl" class="mb-3 column">
        <div class="btn-group" role="group">
            <div>
                <button type="button" class="btn btn-success" onclick="@{s"location.href='http://127.0.0.1:9000/db/new/$newRedirectionTarget'"}">
                جدید
                </button>
            </div>
        </div>
        <div>
            <table class="table table-striped mb-3">
                <thead>
                <tr>
                    @for(h <- heading) {
                    <th scope="col">@h</th>
                    }
                </tr>
                </thead>
                <tbody>
                @for(row <- data) {
                <tr>
                    @for(r <- row) {
                    <td style="font-weight:normal">@r</td>
                    }
                    <td>
                    <div class="btn-group" role="group">
                        <div>
                            <button type="button" class="btn btn-danger" onclick="@{s"location.href='http://127.0.0.1:9000/db/delete/$newRedirectionTarget'"}">
                            حذف
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" onclick="@{s"location.href='http://127.0.0.1:9000/db/edit/$newRedirectionTarget'"}">
                            ویرایش
                            </button>
                        </div>
                    </div>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="column"></div>
</div>
}