@(data: Vector[List[Any]], heading: List[String], newRedirectionTarget: String)

@main("Welcome to Play") {
<div dir="rtl">
    <div>
        <button onclick="@{s"location.href = 'http://127.0.0.1:9000/db/new/$newRedirectionTarget'"}">new @newRedirectionTarget</button>
    </div>
    <div>
<table class="table table-striped">
    <thead>
    <tr>
        @for(h <- heading) {
        <th scope="col">@h</th>
        }
    </tr>
    </thead>
    <tbody>
    @for(row <- data) {
    <tr>
        @for(r <- row) {
        <th style="font-weight:normal">@r</th>
        }
    </tr>
    }
    </tbody>
</table>
    </div>
</div>
}