@(actorForm: Form[models.forms.Actor], actorId: String)(implicit request: MessagesRequestHeader)

@main("افزودن بازیگر جدید") {
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

@if(actorForm.hasGlobalErrors) {
@actorForm.globalErrors.map { error: FormError =>
<div>
    Error: @error.key: @error.message
</div>
}
}
<div dir="rtl">
<h3>فرم ورود اطلاعات بازیگر جدید</h3>
@helper.form(routes.ActorFormController.editActor(actorId)) {
@helper.CSRF.formField
@helper.inputText(actorForm("name"), Symbol("_label") -> "نام")
@helper.inputText(actorForm("birthday"), Symbol("_label") -> "سال تولد")
<button class="btn btn-success btn-sm">افزودن</button>
}
</div>
}