@(actorForm: Form[models.forms.Actor], actorId: String)(implicit request: MessagesRequestHeader)

@main("ویرایش اطلاعات بازیگر") {
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

@if(actorForm.hasGlobalErrors) {
@actorForm.globalErrors.map { error: FormError =>
<div>
    Error: @error.key: @error.message
</div>
}
}
<div dir="rtl">
    <h3>فرم ویرایش اطلاعات بازیگر</h3>
    @helper.form(routes.ActorFormController.editActor(actorId)) {
    @helper.CSRF.formField
    @helper.inputText(actorForm("name"), Symbol("_label") -> "نام")
    @helper.inputText(actorForm("birthday"), Symbol("_label") -> "سال تولد")
    <button class="btn btn-success btn-sm">ویرایش</button>
    }
</div>
}