@(movieForm: Form[models.forms.Movie], movieId: String)(implicit request: MessagesRequestHeader)

@main("ویرایش اطلاعات فیلم") {
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

@if(movieForm.hasGlobalErrors) {
@movieForm.globalErrors.map { error: FormError =>
<div>
    Error: @error.key: @error.message
</div>
}
}
<div dir="rtl">
    <h3>فرم ویرایش اطلاعات فیلم</h3>
    @helper.form(routes.MovieFormController.editMovie(movieId)) {
    @helper.CSRF.formField
    @helper.inputText(movieForm("title"), Symbol("_label") -> "عنوان")
    @helper.inputText(movieForm("year"), Symbol("_label") -> "سال ساخت")
    <button class="btn btn-success btn-sm">ویرایش</button>
    }
</div>
}