@import models.Actor
@import utilities.toPersian

@(data: Vector[Actor], page: Int, end: Int)

@item(currentPage: Int, numberOfPages: Int, label: String, href: Int, current: Boolean) = {
@if(current) {
<li class="page-item active"><a class="page-link" href="@routes.ActorReportController.allActors(Some(href))">
    @if(label == "قبلی" || label == "بعدی") {
    @label
    } else {@toPersian(label)}
</a></li>
} else {
<li class="page-item"><a class="page-link" href="@routes.ActorReportController.allActors(Some(href))">
    @if(label == "قبلی" || label == "بعدی") {
    @label
    } else {@toPersian(label)}
</a></li>
}
}

@main("نتیجه جستجوی بازیگران") {
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <table class="table table-striped" dir="rtl" style="text-align: center">
                        <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col" style="text-align: right">نام</th>
                            <th scope="col">سال تولد</th>
                            <th scope="col">
                                <a href="/actors/new">
                                    <button type="button" class="btn btn-success btn-sm">جدید</button>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(number <- 1 to data.length) {
                        <tr style="font-weight:normal">
                            <td>@{toPersian((number + (if (page == 0) 0 else (page - 1)) * 5).toString)}</td>
                            <td style="text-align: right">@data(number - 1).name</td>
                            <td>@{toPersian((data(number - 1).birthday).toString)}</td>
                            <td>
                                <a href="/actors/edit/@data(number - 1).id">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        ویرایش
                                    </button>
                                </a>
                                <a href="/actors/delete/@data(number - 1).id">
                                    <button type="button" class="btn btn-danger btn-sm">
                                        حذف
                                    </button>
                                </a>
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
                @if(end > 1) {
                <div class="row">
                    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                        <ul class="pagination d-flex flex-row-reverse">
                            <li class="page-item"><a class="page-link" href="/actors?page=0">فهرست کامل</a></li>
                            @item(page, end, "1",
                            1, page == 1)
                            @if(page > 3) {
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            }
                            @if(end > 2) {
                            @item(page, end, if (end <= 5) {"2"} else {if(page <= 3) {"2"} else {"قبلی"}}, if (end <= 5)
                            {2} else {if(page <= 3) {2} else {page - 1}}, page == 2)
                            @if(end > 3) {
                            @item(page, end, if (end <= 5) {"3"} else {if(page <= 3) {"3"} else {if(page >= end - 2)
                            {(end - 2).toString} else {page.toString}}}, if (end <= 5) {3} else {if(page <= 3) {3} else
                            {if(page >= end - 2) {end - 2} else {page}}}, page > 2 && page <= end - 2)
                            @if(end > 4) {
                            @item(page, end, if (end <= 5) {"4"} else {if(page >= end - 2) {(end - 1).toString} else
                            {"بعدی"}}, if (end <= 5) {4} else {if(page >= end - 2) {end - 1} else {page + 1}}, page ==
                            end - 1)
                            }
                            }
                            }
                            @if(page < end - 2) {
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            }
                            @item(page, end, end.toString,
                            end, page == end)
                        </ul>
                    </nav>
                </div>
                }
                @if(end == 0) {
                <div class="row">
                    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                        <ul class="pagination d-flex flex-row-reverse">
                            <li class="page-item active"><a class="page-link" href="#">فهرست کامل</a></li>
                            <li class="page-item"><a class="page-link" href="/actors?page=1">صفحه‌بندی</a></li>
                        </ul>
                    </nav>
                </div>
                }
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
}