@import models.Actor

@(data: Vector[Actor])

@main("نتیجه جستجوی بازیگران") {
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped" dir="rtl" style="text-align: center">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col" style="text-align: right">نام</th>
                    <th scope="col">سال تولد</th>
                    <th scope="col">
                        <a href="/actors/new">
                            <button type="button" class="btn btn-success btn-sm" a="">جدید</button>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                @for(row <- data) {
                <tr style="font-weight:normal">
                    <td>@row.id</td>
                    <td style="text-align: right">@row.name</td>
                    <td>@row.birthday</td>
                    <td>
                        <a href="/actors/edit/@row.id">
                            <button type="button" class="btn btn-primary btn-sm">ویرایش</button>
                        </a>
                        <a href="/actors/@row.id">
                            <button type="button" class="btn btn-danger btn-sm">حذف</button>
                        </a>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>
}